@import './article.scss';

.wrapper-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 510px;
    max-width: 100%;
}

.products {
    min-width: 500px;
    max-width: 80%; 
    height: 400px;

    //---- start dev css ----//
    // border: hotpink 5px solid;
    //---- end dev css ----//
}


section {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
}